body {
	margin: 0;
	padding: 0;
	background-color: #fccad3;
	font-size: 32px;
}

main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

p {
	position: absolute;
	margin: 0;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	transform: translateY(-50%);
}

a {
	text-decoration: none;
}
