* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fccad3;
	font-size: 32px;
}

main {
	display: grid;
	min-height: 100vh;
	padding: 1em;
	justify-content: center;
	align-content: center;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.doorbell {
	cursor: pointer;
	border: none;
	background-color: transparent;
	font-size: 1em;
}
