* {
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-size: 64px;
	height: 100vh;
	overflow: hidden;
}

main {
	display: grid;
	height: 100%;
	padding: 1em;
	justify-content: center;
	align-content: center;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.doorbell {
	cursor: pointer;
	border: none;
	border-radius: 0.125em;
	/* padding: 1em; */
	background-color: transparent;
	font-size: 1em;
}
	.jingle {
		animation-delay: 0.45s;
		animation-duration: 0.25s;
		animation-name: jingle;
		animation-iteration-count: 2;
	}

	@keyframes jingle {
		0% {
			transform: rotate( 5deg );
		}
		50% {
			transform: rotate( -5deg );
		}
		100% {
			transform: rotate( 5deg );
		}
	}