<!DOCTYPE html>
<html lang="en">
<head>
<!--
        __
   (___()'`;
   /,    /`
   \\"--\\

-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.title }}</title>

	<meta name="description" content="{{ site.description }}">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:image" content="http://frankie.cab/images/frankie.cab.png">

	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="{{ site.url }}">
	<meta property="twitter:title" content="{{ site.title }}">
	<meta property="twitter:description" content="{{ site.description }}">
	<meta property="twitter:image" content="http://frankie.cab/images/frankie.cab.png">

	<link rel="prefetch" href="/audio/doorbell.mp3" as="audio">

	{% set css %}
		{% include "css/index.css" %}
	{% endset %}
	<style>{{ css | safe }}</style>
</head>
<body>
	<main>
		<button
			class="[][][ doorbell ]"
		>
			<span class="[][ visually-hidden ][]">Play doorbell sound</span>
			<span role="img" aria-label="bell">🔔</span>
		</button>
	</main>

	<script>
		const audioDoorbell = new Audio( "/audio/doorbell.mp3" );
		const elDoorbell = document.querySelector( ".doorbell" );

		elDoorbell.addEventListener( "click", () =>
		{
			audioDoorbell.currentTime = 0;
			audioDoorbell.play();
			elDoorbell.classList.add( "jingle" );

			setTimeout( () => elDoorbell.classList.remove( "jingle" ), 1000 );
		});
	</script>
</body>
</html>
